h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}



a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #434455;
    background-color: #FFFFFF;
}

address {
    font-size: normal;
}

.container {
    /* width: 1158px;
    padding-left: 15px;
    padding-right: 15px; */
    width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

/* header */
.header {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);

}

.header-div-class {
display: flex;
justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    
}

.header-nav-class {
    display: flex;
    align-items: center;
    
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* margin-right: 76px;   */
    color: #404bbf;
    
    }

.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-list-navigation {
    /* display: flex; */
    display: none;
    gap: 40px;
}

.header-adress {
    font-style: normal;
   
    /* margin-left: 332px; */
}

.header-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.header-link-extra{
    position: relative;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-extra::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


    .header-link-extra:hover {
    color: #404bbf;
}

.header-link-extra:focus {
    color: #404bbf;
}

.header-link-extra:active {
    color: inherit;
}

.header-list-contacts {
    /* display: flex; */
    display: none;
    gap: 40px
}

.header-item-contacts {}

.header-link-contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-contacts:hover,
.header-link-contacts:focus {
    color: #404bbf;
}

.open-btn{
    border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        
}



.mob-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 72px 16px 40px;
    opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 999;
}

.mob-menu-btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left:169px;
    cursor: pointer;
    line-height: 0;
}

.mob-list-navigation {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}

.mob-item-navigation {}

.mob-link {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.mob-link:hover {
    color:#404bbf;
}

.mob-link-extra {}

.mob-adress {}

.mob-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-item-contacts {}

.mob-link-contacts {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    color: #2e2f42;
   font-style: normal;
}

.mob-link-contacts:hover {
    color: #404bbf;
}

.section-mob-inside-list {
    display: flex;
    gap: 40px;
}
        



/* -- */

/* Effective Solutions for Your Business */

.container-image{

}

.hero-image {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office\.jpeg);
    /*  max-width: 1440px;*/
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-image-titel {

    font-weight: 700;
    /* font-size: 56px; */
    font-size:36px;
    /* line-height: 1.07; */
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffff;
    /* max-width: 496px; */
    max-width: 216px;
    margin: 0 auto;
    /* padding-bottom: 48px; */
    padding-bottom: 72px;
}

.hero-image-btn {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   margin: 0 auto;


}

.hero-image-btn:hover,
.hero-image-btn:focus {
    background-color: #404BBF
}





/* -- */

/* Section 1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section-first {
    /* padding: 120px 0; */
    padding: 96px 0;
}

.section-first-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.section-item-item {
/* width: calc((100% - 72px) / 4); */

}

.section-subtitel-subtitel {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-text-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-icon{
    /* display: flex; */
    display: none;;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

/* -- */

/* Section 2 */
.container-team{
    width: 320px;
    padding-left: 28px;
    padding-right: 28px;
}
.section-our-team {
    background-color: #F4F4FD;
    padding: 76px 0;
}

.section-team-titel {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.section-team-item {
    background: #fff;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.section-team-subtitel {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 8px;
}

.section-team-inside-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-team-icon{
width: 40px;
height: 40px;   
}

.section-team-list-logo{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-team-list-logo:hover,
.section-team-list-logo:focus {
    background-color: #404bbf;
}

.section-team-svg{
    fill: #f4f4fd;
}

.section-2-img {}

.container-item-team{
    padding: 32px 0;
}

/* -- */



/* Section 3 */



.section-portfolio {
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-portfolio-list {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* column-gap: 24px;
    row-gap: 48px; */
    gap: 48px;
}


.section-third-item {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-third-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
}

.section-portfolio-text{

}

.container-img{
position: relative;
overflow: hidden;
}

.paragraph-class{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.paragraph-class:hover {}

.container-portfolio-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}

.section-portfolio-subtitel {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.section-third-item:hover .paragraph-class {
    transform: translateY(0%);
}

/* end  */

/* footer */

.footer {
    /* padding: 100px 0; */
    padding: 96px 0;
    background-color: #2e2f42;
}

.container-footer{
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.footer-second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.container-sm{
    margin-bottom: 72px;
}


.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.web-footer {
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}

.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-media-item {
    width: 40px;
    height: 40px;
}

.social-media-logo {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.social-media-logo:hover {
    background-color: #31d0aa;
}

.social-media-logo:focus {
    background-color: #31d0aa;
}

.social-media-svg {
    fill: #f4f4fd;
}


/* email */
.email {
    display: flex;
    flex-direction: column;
    /* padding-left: 80px; */
}

.email-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.email-div {}

.email-form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
   align-items: center;
    /* gap: 24px; */
    gap: 16px;
}

.email-label {}



.email-input {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.email-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;

    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    gap: 16px;

    flex-direction: row;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-svg {
    margin-left: 16px;
}

.email-icon {}
/* email-end */
/* footer */

/* modal */
.modal-overlay{
    background: rgba(46, 47, 66, 0.4);
    position: fixed;
        top: 0;
        left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0,4 0 0,2 1) visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal{
    position: absolute;
    /* width: 408px;
    min-height: 584px; */
    width: 288px;
    max-height: 623px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc; 
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn{
    position: absolute;
    border-radius: 50%;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0;

}

.modal-btn:hover {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.btn-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-btn:hover .btn-svg,
.modal-btn:focus .btn-svg {
    fill: #ffffff;
}

.modal-text{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
        font-weight: 500;
}

.modal-form{
    margin-bottom: 8px;
}
.modal-label{
font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
    
}

.input{
   width: 100%;
   height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
border-color: #4D5AE5;
}

.input:focus + .form-svg {
fill: #4D5AE5;
}

.form-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-svg:focus {
fill: #4D5AE5;
}

.modal-input{
    position: relative;
}

.modal-form-comment{
    margin-bottom: 16px;
}

.modal-textarea{
    width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}


.modal-chechbox{
    margin-bottom: 24px;
   
}

.checkbox-input .visually-hidden   {
    
}

.checkbox-label{
   
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: flex;
        align-items: center;
}

.checkbox-span{
    width: 16px;
    height: 16px;
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
        flex-shrink: 0;
}

.checkbox-svg {

}

.checkbox-input:checked + .checkbox-label span{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}


.btn-svg input:focus+.checkbox-svg snap {
    fill: #4D5AE5;
}


.checkbox-logo{
    color: #4d5ae5;
    
}

.checkbox-btn{
    display: block;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            cursor: pointer;
            border: none;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            min-width: 169px;
            background-color: #4D5AE5;
            margin: 20px auto;
}

.checkbox-btn:hover,
.checkbox-btn:focus {
    background-color: #404bbf;
}
/* modal-end */




@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
        
    }

.open-btn{
    display: none;
}

.header-list-contacts{
display: flex;
}

.header-list-navigation{
    display: flex;
}

.hero-image {
min-width: 768px;
}

.section-first-list{
    gap: 72px 24px;
}

.section-item-item{
    width: calc((100% - 24px) / 2);
}

.section-subtitel-subtitel{
    text-align: start;
}

.container-team {
    margin: 96px auto;
    width: 584px;
}

.section-team-list{
    gap: 64px 24px;
}

.section-team-item{
    width: calc((100% - 24px) / 2);
    
}


/* portfolio */
.section-portfolio-list{
   flex-wrap: wrap;
    gap: 72px 24px;
    flex-direction: row;
}

.section-third-item{
    width: calc((100% - 24px) / 2);
}
/* portfolio-end */

/* footer */

.container-footer{
    min-width: 584px;
}


.logo-and-sm{
    display: flex;
    gap: 24px;
}

.footer-second-container{
min-width: 264px;
display: flex;
align-items: flex-start;
}

.footer-link{
}

.footer-text{
    
}

.email-form{
    display: flex;
    flex-direction: row;
}

.email-subscribe{
    display: flex;
    align-content: start;
}


}



@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    } 
}